<div class="navbar navbar-fixed-top navbar-inverse">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="../">EasyCourse</a>

       <div class="nav-collapse" id="main-menu">
        <ul class="nav" id="main-menu-left">
          <li><a onclick="pageTracker._link(this.href); return false;" href="http://news.bootswatch.com">班级</a></li>
          <li><a id="swatch-link" href="/#gallery">团队</a></li>
        </ul>

         <ul class="nav pull-right" id="main-menu-right">
           <li > <a href="">小明的设置</a></li>
           <li > <a href="">退出</a></li>
         </ul>

         <form class="navbar-search pull-right" action="">
            <input type="text" class="search-query span2" placeholder="Search">
          </form>
       </div>
     </div>
   </div>
 </div>