<div class="comment row">
  <div class="span1">
    <%= image_tag current_user[:avatar] %>
  </div>

  <div class="control span10" id="fake-textarea">
    <input type="text" class="span10" id="comment-input" placeholder="点击发表评论 ">
  </div>
</div>