<div class="container">
  <div class="row">
    <div class="span12">
      <div class="well">

        <%= render_header '文件' %>
        <%= render_section_header '所有文件', '上传新文件', 'plus' %>

        <%= render :partial => "file", :collection => @files %>

      </div>
    </div>
  </div>
</div>