<div class="container">
  <div class="row">
    <div class="span12">
      <div class="well">

        <%= render_header '文件' %>
        <%= render_section_header '查看文件', '删除', 'remove', {btn_classes: 'btn-danger', icon_classes: 'icon-white'} %>

      </div>
    </div>
  </div>
</div>