<div class="page-header">
  <div class="row">
    <div class="span1">
      <h3><%= section_header %></h3>
    </div>
      <a class="btn pull-right action-btn" href="#"><i class="icon-<%= icon %>"></i> <%= action_tip %></a>
  </div>
</div>